@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oxanium, cursive;
}

body {
    text-align: center;
    /* background-image: url(../img/backgroudpokemon.png); */
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

/* 🔧 Posicionamento central do Pokémon na tela da pokédex */
.pokemon_image {
    position: absolute;
    top: 40%;
    left: 47%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    z-index: 1;
}

/* 🔧 Nome do Pokémon abaixo da imagem, ainda na tela */
.pokemon_data {
    position: absolute;
    top: 57%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(12px, 5vw, 20px);
    text-align: center;
    z-index: 2;
}

.pokemon_name {
    color: #3a444d;
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input_search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.nav-buttons {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.button {
    width: 100%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font: clamp(0px, 5vw, 1rem);
    font-weight: 600;
    color: #fff;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.7rem;
}
